<h1 id="home-card-title">Cadê Buffet?</h1>

<main>
  <section id="vantagens" class="home-cards">
    <div class="card" style="background-image: url('caminho/para/imagem1.jpg');">
      <h2>Vantagens para Donos de Buffets</h2>
      <ul>
        <li class="vantagem">Maior Visibilidade</li>
        <li class="vantagem">Acesso a Novos Clientes</li>
        <li class="vantagem">Facilidade de Gerenciamento de Perfil</li>
        <li class="vantagem">Feedback dos Clientes</li>
        <li class="vantagem">Potencial para Aumentar as Vendas</li>
      </ul>
    </div>
  </section>

  <section id="busca">
    <div class="card" style="background-image: url('caminho/para/imagem2.jpg');">
      <h2>Facilidades para Usuários</h2>
      <ul>
        <li class="facilidade">Facilidade de Busca</li>
        <li class="facilidade">Avaliações e Comentários</li>
        <li class="facilidade">Variedade de Opções</li>
        <li class="facilidade">Conveniência</li>
        <li class="facilidade">Segurança e Confiança</li>
      </ul>
    </div>
  </section>

  <section id="contato">
    <div class="card" style="background-image: url('caminho/para/imagem3.jpg');">
      <h2>Contato</h2>
      <p>Para mais informações, entre em contato conosco:</p>
      <address>
        Email: <a href="mailto:vinigperuzzi@hotmail.com">vinigperuzzi@hotmail.com</a><br>
        Telefone: (53) 99181-4646
      </address>
    </div>
  </section>