:root {
  --main-color: #8434a4;
  --lighter-color: #cb9adf;
  --darker-color: #240c34;
  --grey-color: #7b6d82;
  --light-color: #c0b9c5;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  margin-top: 10px;
}

header nav form {
  background-color: inherit;
  box-shadow: none;
}

#navigation-buttons {
  display: flex;
  align-items:  center;
}

#navigation-buttons p {
  margin: 0 10px;
}

#navigation-buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: var(--light-color);
  color: var(--darker-color);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#navigation-buttons a:hover {
  background-color: var(--main-color);
  color: white;
}

#navigation-buttons a:active {
  transform: translateY(2px);
}

.search-form {
  margin-bottom: 20px;
}

.search-label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--darker-color);
}

header nav h1 {
  border-radius: 20px;
}

#login-area{
  display: flex;
  font-size: large;
  color: var(--primary-red-dark);
  background-color: inherit;
  align-self: flex-end;
  margin-left: auto;
}

#login-area p{
  margin: 0px 10px;
}

.flex-container {
  flex: 1;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--darker-color);
}

#login-button {
  margin-left: auto;
}

#logout-button {
  background-color: var(--lighter-color);
}

#logout-button:hover {
  background-color: var(--grey-color);
}

.notice, .alert {
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
}

.notice {
  background-color: var(--lighter-color);
  color: var(--main-color);
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
}

form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  font-size: 24px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.form-info {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.field {
  margin-bottom: 15px;
}

.field label {
  font-weight: bold;
  color: var(--main-color);
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #8434a4;
  border-color: #8434a4;
}

.actions {
  margin-top: 20px;
}

.actions input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions input[type="submit"]:hover {
  background-color: var(--lighter-color);
}

.actions a {
  color: var(--main-color);
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.actions a:hover {
  color: var(--lighter-color);
}

.buffet-advise {
  margin-top: 10px;
  color: #ff0000;
  font-size: 14px;
}

.buffet-card {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9; /* Cor de fundo contrastante */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.h1-info {
  text-align: center;
  margin-bottom: 20px;
}

.info-list {
  width: 100%;
}

.info-list dt {
  font-weight: bold;
  margin-top: 10px;
  font-size: medium;
}

.info-list dd {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: x-large;
}

#bottom-button {
  margin-top: 25px;
}

.order-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-type {
  background-color: var(--lighter-color);
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.event-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.event-card-title {
  color: #3498db;
  font-size: 24px;
  margin-bottom: 10px;
}

.event-card-description {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.event-card-item {
  color: #666;
  font-size: 14px;
}

.show-details-button {
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.show-details-button:hover {
  background-color: #2980b9;
}

#album-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.evaluated-form-card {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.evaluated-form-card .field {
  margin-bottom: 20px;
}

.evaluated-form-card .field label {
  display: block;
  font-weight: bold;
}

.evaluated-form-card .buffet-advise {
  color: #ff0000;
  font-size: 14px;
}

.evaluated-form-card .actions {
  text-align: center;
}

.evaluated-form-card input[type="submit"] {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.evaluated-form-card input[type="submit"]:hover {
  background-color: var(--lighter-color);
}